body {
background-color:#333333;
margin:0;
}
h1 {
  margin-bottom: 0;
}
h3 {
font-weight:bold;
font-size:3em;
line-height:1;
text-shadow:0 1px 2px #666666;
}
#header-wrap {
background-color:#333333;
background-image:url("/images/navbg.png");
background-repeat:repeat-x;
border-bottom:1px solid #5C5C5C;
height:100px;
padding:10px 0 0;
}
#wrap {
background-color:#FFFFFF;
background-image:url("/images/layout-shadow.png");
background-repeat:repeat-x;
padding:18px 0;
}
#footer-wrap {
background-color:#333333;
background-image:url("/images/layout-shadow-bottom.png");
background-repeat:repeat-x;
height:80px;
}
#footer {
padding-top:40px;
}
#footer p {
color: #fff;
font-size:14px;
line-height: 110%;
font-size: 150%;
}
#footer a {
color:#FFFFFF;
text-decoration:none;
}
#footer a:hover{
 color: #f0a513;
}
#copy {
text-align:center;
}
#copy p {
font-size:16px;
font-weight:bold;
}
#address{
text-align:right;
}
#hmd {
background-image:url(/images/hmd.png);
display:block;
width:625px;
height:50px;
text-indent:-9999px;
}
#awd {
background-image:url(/images/awd.png);
display:block;
width:265px;
height:20px;
text-indent:-9999px;
}
ul#navigation {
float:right;
list-style-type:none;
line-height:22px;
margin:0;
position:relative;
font-size:18px;
}
ul#navigation li {
float:left;
margin:0;
padding:0;
text-align:center;
margin-right:20px;
padding:1px;
}
ul#navigation a {
color:#FFFFFF;
text-decoration:none;
}
ul#navigation a.on{
 color: #89ec02;
}
ul#navigation a:hover{
 color: #f0a513;
}
#recent_projects {
  font-size: 20px;
  font-weight: bold;
}
#layout p {
  font-weight: bold;
  font-size: 175%;
  line-height: 100%;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
}

#faq h2 {
  font-weight: bold;
  margin: 12px 0 0 0;
}

#faq ul
{
margin-left: 0;
padding-left: 0;
list-style: none;
}

#faq li
{
padding-left: 0px;
}

