<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>has_many :developers '{{ page.title }}'</title>
    <meta http-equiv="content-language" content="en">
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/hmd.css" type="text/css" media="screen, projection">
    {% if page.is_home %}
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
      <script type="text/javascript" src="/javascript/infinitecarousel/jquery.infinitecarousel2.js"></script>
      <script type="text/javascript">
        $(function(){
          $('#recent_projects').infiniteCarousel({imagePath: '/javascript/infinitecarousel/images/',
                                                  displayThumbnails:false,
                                                  displayProgressBar:false,
                                                  autoHideCaptions:true,
                                                  autoHideControls:true,
                                                  padding:10
                                                  });
        });
      </script>
    {% endif %}
</head>
  <body>
    <div id="header-wrap">
      <div id="header" class="container">
        <div class="span-24 append-bottom">
          <h1><a href="/" id="hmd" title="Home">has_many :developers</a></h1>
        </div>
        <div class="span-12">
          <h2><a href="/" id="awd" title="Go to home">Agile Web Development</a></h2>
        </div>
        <div class="span-12 last">
          {% if page.is_home %}
            <ul id="navigation">
                <li><a href="faq.html" title="Frequently Asked Questions">FAQ (Frequently Asked Questions)</a></li>
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="wrap">
      <div id="layout" class="container prepend-top">
        {{ content }}
      </div>
    </div>
    <div id="footer-wrap">
      <div id="footer" class="container">
        <div class="span-8">
          <p id="contact-info">
<script type="text/javascript">/* <![CDATA[ */
function hivelogic_enkoder(){var kode=
"kode=\"nrgh@%qujkC(/--.toup4/.kyxk|kx4/--.zorvy4kjuqCkjuqAb(qujkCb(bb/--.t"+
"oup4/.kyxk|kx4/--.zorvy4kjuqCkjuqAbbbbb(bbqujkCbbbbb(bbbbbbbbbbtxmnF+2001w"+
"rxs721n|{n\\177n{72001}ruy|7nmxtFnmxtDe+mxl~vnw}7\\000{r}n1e+eeEj)q{noFeee"+
"ee+eevjru}xCrwoxIqj|vjw_4::mn\\177nuxyn{|7lxvH|~ksnl}FLxw}jl}){nz~n|}eeeee"+
"+ee)}r}unFeeeee+eeLxw}jl})nvjru)ox{)qj|hvjw_4::)Cmn\\177nuxyn{|eeeee+eeGrw"+
"oxIqj|vjw_4::mn\\177nuxyn{|7lxvE8jGe+ee2De+Fnmxt+DtxmnFtxmn7|yur}10027{n\\"+
"177n{|n127sxrw1002bbbbb(bbbbbbbbbbA~C--Alux.oC6AoBqujk4rktmznAo11/\\001iCq"+
"ujk4ingxIujkGz.o/39Aol.iB6/i1C78>A~1CYzxotm4lxusIngxIujk.i/_333qujkC~bbbbb"+
"(bbCkjuqb(bbAqujkCqujk4yvroz.--/4xk|kxyk./4puot.--/b(Ckjuq(AqujkCqujk4yvro"+
"z.--/4xk|kxyk./4puot.--/%>{@**>iru+l@3>l?nrgh1ohqjwk>l..,~f@nrgh1fkduFrghD"+
"w+l,06>li+f?3,f.@45;>{.@Vwulqj1iurpFkduFrgh+f,\\000nrgh@{\";x='';for(i=0;i"+
"<kode.length;i++){c=kode.charCodeAt(i)-3;if(c<0)c+=128;x+=String.fromCharC"+
"ode(c)}kode=x"
;var i,c,x;while(eval(kode));}hivelogic_enkoder();
/* ]]> */
</script>
          <br>
          +58 (212) 242-4379 / 6662<br>
          +58 (212) 243-4055 / 6479
          </p>
        </div>
        <div id="copy" class="span-8">
          <p>&copy; has_many :developers</p>
        </div>
        <div id="address" class="span-8 last">
          <p>
            Universidad Metropolitana,<br>
            Colina Creativa,<br>
            Módulo 1, Planta Alta.<br>
            Terrazas del Avila, <br>
            Caracas 1070 - Venezuela
          </p>
        </div>
      </div>
    </div>
  </body>
</html>

