<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<title>{{ page.title }} &raquo; has_many :developers</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/modernizr/1.7/modernizr-1.7.min.js"></script>
	<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="/javascript/modernizr-1.7.min.js"%3E%3C/script%3E'))</script>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/stylesheets/global.css" />
</head>

<body class="index">
<div id="bodyCanvas">

<div id="global-hat">
  <div class="wrapper">
    <ul class="global-hat-nav">

      <li class="{% if page.is_home %} current {% else %} link {% endif %}"><a href="/" title="Home" class="current">Home</a></li>
      <li class="{% if page.is_our_work %} current {% else %} link {% endif %}"><a href="/our_work.html" title="Our Work" class="link">Our Work</a></li>
      <li class="{% if page.is_contact_us %} current {% else %} link {% endif %}"><a href="/contact.html" title="Contact Us" class="link">Contact</a></li>
    </ul>

    <ul class="social-networks">
    <!--
			<li class="facebook"><a href="#" title="Facebook" target="_blank">Facebook</a></li>
			<li class="twitter"><a href="#" title="Twitter" target="_blank">Twitter</a></li>
			<li class="flickr"><a href="#" title="Flickr" target="_blank">Flickr</a></li>
			<li class="vimeo"><a href="#" title="Vimeo" target="_blank">Vimeo</a></li>
      <li class="rss-feed"><a href="#" title="Feed" target="_blank">Feed</a></li>
    -->
    </ul>
  </div>
</div>

<div id="container">
  <div id="logo">
    <h1><a href="/">has_many :developers</a></h1>
    <h2>Agile Web Development</h2>
  </div>

  {{ content }}

	<div id="footer">
	  <h6>
	  We believe in Agile Development. We believe in quality. And we’re passionately committed to doing things better. <a href="/contact.html">Let’s get started</a>.
    </h6>
		<div class="copyright">
			&copy;2011 has_many :developers. All Rights Reserved.
		</div>
	</div>

</div>

</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="http://rokkan.com//mysite/javascript/jquery-1.5.min.js"%3E%3C/script%3E'))</script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>!window.jQuery.ui && document.write(unescape('%3Cscript src="http://rokkan.com//mysite/javascript/jquery-ui-1.8.10.min.js"%3E%3C/script%3E'))</script>

<!--[if lt IE 7 ]>
	<script src="/javascript/dd_belatedpng.js"></script>
	<script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
<![endif]-->

<script type="text/javascript" src="/javascript/plugins.base.js"></script>
<script type="text/javascript" src="/javascript/plugins.slideshow.js"></script>
<script type="text/javascript" src="/javascript/jquery.plugins.jswipe.js"></script>
<script type="text/javascript" src="/javascript/global.js"></script>

</body>

</html>

