/* Home */

#logo-home {
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
}

#projects-msg {
    font-weight:bold;
    color: #999;
}

.project-description-label {
    margin-top: 10px;
    margin-bottom: 23px;
}

.project-name {
    margin-top: 0;
    margin-bottom: 20px;
}

.odd .project-name, .odd .project-description-label  {
    color: #000000;
}

.technologies {
    padding-left: 15px;
}

.project-description-value {
    text-align:justify;
}

.introduction h3 {
    margin-bottom: 20px;
}

.introduction p, .technologies, .project-description-value {
    font-size: 16px;
}

.a-in-p {
    display: block;
}

/* About */

#welcome-msg-about {
    margin-top: 0;
}

.img-customer {
    margin: auto;
    height:35px;
}

.img-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Contact */

.fluid-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

