/* Home */

#logotype {
    padding-top: 20px;
    margin:auto;
}

#projects-msg {
    font-weight:bold;
    color: #222222;
}

.project-description-label {
    margin-top: 10px;
    margin-bottom: 23px;
}

.project-name {
    margin-top: 0;
    margin-bottom: 20px;
}

.odd .project-name, .odd .project-description-label  {
    color: #000000;
}

.technologies {
    padding-left: 15px;
}

.project-description-value {
    text-align:justify;
}

#introduction-title {
    margin-bottom: 20px;
}

#introduction, .technologies, .project-description-value {
    font-size: 16px;
}

.a-in-p {
    display: block;
}

/* About */

#welcome-msg-about {
    margin-top: 0;
}

.img-customer {
    margin: auto;
    height:35px;
}

.img-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

